{% for post in posts %}
<section class = "cardbox">
    <section class="cardname">
        <div>
            <h2 style = "font-family: Open Sans"> {{post.get('user').get('username')}} </h2>
        </div>
        <div>
            <i class="fas fa-ellipsis-h"></i>
        </div>
            
    </section>
    <section class = "cardimg">
        <img class ="cardimgimg" src=" {{ post.get('image_url') }} " alt="{{post.get('user').get('username')}}'s Post Picture"/>
    </section>
    <section class = "cardcommentbox">
        <div class = commenticons >
            <div> 
                <i class="far fa-heart fa-lg" style="padding-left:5px; padding-right:5px"></i>
                <i class="far fa-comment fa-lg" style="padding-left:5px; padding-right:5px"></i>
                <i class="far fa-paper-plane fa-lg" style="padding-left:5px; padding-right:5px"></i>
            </div>
            <div> 
                <i class="far fa-bookmark fa-lg"></i>
            </div>
        </div>
        <div class = likes style="font-size: 17px; margin-left: 15px;">
            <p><b>{{ post.get('likes') }} Likes</b> </p>
        </div>
        <div class ="captions">
            <p ><span style="font-weight: bold; margin-left: 3px;">{{post.get('user').get('username')}}</span>  {{post.get('title')}}..
            <a class = "morelink", href = "" style="color:#2c699b">more</a></p>
        </div>

        {% if post.get('comments')|length > 1 %} 
            <div class = "comments">
                <a class = "morecom" href = "" style="color:#2c699b">View all {{post.get('comments')|length -1}} comments</a>
                <p class = "comment"><span style ="font-weight: bold;margin-left: 3px;">{{post.get('comments')[0].get('user').get('username')}}</span> {{post.get('comments')[0].get('text')}}</p>
                <p style="color:grey;">{{post.get('display_time')}}</p>
            </div>
        {% else %}
            {% if post.get('comments')|length == 1 %}
                <div class = "comments">
                    <p class = "comment"><span style ="font-weight: bold;margin-left: 3px;">{{post.get('comments')[0].get('user').get('username')}}</span> {{post.get('comments')[0].get('text')}}</p>
                    <p style="color:grey;">{{post.get('display_time')}}</p>
                </div>
            {% endif %}
        {% endif %}

    </section>
    <section class="cardpostcomment">
        <section class="leftside">
            <i class="far fa-smile fa-lg"></i>
            <label> add comment
                <form>
                    <input class="commentform" type="text" placeholder="Add a comment...">
                </form>
            </label>

        </section>            
        <section>
            <p></p>
            <a class = "postlink" href = "" style="color:#2c699b">Post</a></p>
        </section>


    </section>
</section>
{% endfor %}