
<section class="suggestion">
    <div class="suggestion-profile">
        <img class="suggestion-profile-image" src= " {{ user.get('image_url') }} " alt="{{user.get('username')}}'s Profile Picture in suggestions" />
        <p class="suggestion-profile-name" style="font-family: Open Sans"> {{user.get('username')}} </p>
    </div>
    <section class="suggestion-main" >
        <p class="suggestion-main-text">Suggestions for you</p>
        {% for user in suggestions %}
            <div class="suggestion-main-ind">
                <img class="suggestion-main-image" src=" {{ user.get('image_url') }} " alt="{{user.get('username')}}'s suggested follow user's Profile Picture"/>
                <div>
                    <p class="suggestion-indname">{{ user.get('username') }}</p>
                    <p class="suggestion-indsugforu">Suggested for you</p>
                </div>
                <a class = "suggestion-follow" href= "" > follow</a>
            </div>
        {% endfor %}
    </section>
</section>