<section class="suggestion">
    <div class="suggestion-profile">
        <img class="suggestion-profile-image" src="https://picsum.photos/200/300?random=6"/>
        <p class="suggestion-profile-name" style="font-family: Open Sans">TestName</p>
    </div>
    <section class="suggestion-main" >
        <p class="suggestion-main-text">Suggestions for you</p>
        <div class="suggestion-main-ind">
            <img class="suggestion-main-image" src="https://picsum.photos/200/300?random=7"/>
            <div>
                <p class="suggestion-indname">TestName</p>
                <p class="suggestion-indsugforu">Suggested for you</p>
            </div>
            <a class = "suggestion-follow" href= "" > follow</a>
        </div>
        <div class="suggestion-main-ind">
            <img class="suggestion-main-image" src="https://picsum.photos/200/300?random=8"/>
            <div>
                <p class="suggestion-indname">TestName</p>
                <p class="suggestion-indsugforu">Suggested for you</p>
            </div>
            <a class = "suggestion-follow" href= "" > follow</a>
        </div>
        <div class="suggestion-main-ind">
            <img class="suggestion-main-image" src="https://picsum.photos/200/300?random=9"/>
            <div>
                <p class="suggestion-indname">TestName</p>
                <p class="suggestion-indsugforu">Suggested for you</p>
            </div>
            <a class = "suggestion-follow" href= "" > follow</a>
        </div>
        <div class="suggestion-main-ind">
            <img class="suggestion-main-image" src="https://picsum.photos/200/300?random=10"/>
            <div>
                <p class="suggestion-indname">TestName</p>
                <p class="suggestion-indsugforu">Suggested for you</p>
            </div>
            <a class = "suggestion-follow" href= "" > follow</a>
        </div>
        <div class="suggestion-main-ind">
            <img class="suggestion-main-image" src="https://picsum.photos/200/300?random=11"/>
            <div>
                <p class="suggestion-indname">TestName</p>
                <p class="suggestion-indsugforu">Suggested for you</p>
            </div>
            <a class = "suggestion-follow" href= "" > follow</a>
        </div>
    </section>
</section>