<!DOCTYPE html>
<html lang="en">
<head>
    <title>Photo-App</title>
    <link rel="stylesheet" href="\static\styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body style="background-color: #f2f2f2;">
    {% include 'includes/navbar.html' %}
    <section style="display:flex ">
        <section style="display:flex; flex-direction: column; height: 100%">
            {% include 'includes/stories.html' %}
            {% include 'includes/cards.html' %}
        </section>
        {% include "includes/suggestions.html" %}        
    </section>
</body>
</html>
<!-- How to add a feature to add Alt Text to images:
When making a new post, add an option within advanced settings that allows 
for the user to write alt text. Another way from the post itself would be to
hover over the image and make it so that the alt text is editable from the top 
right corner. The text inputted will be used to described exactly what is 
depicted. -->
